<div class="container">
<div class="row display-flex">
    {{#if result.venues}} {{#each result.venues}}
    <div class="col- col-sm-6 col-md-4 card">
        <strong>{{name}}</strong>
        <span>{{#each categories}}{{name}}&nbsp;&nbsp;{{/each}}</span>
        <a href="/venue/{{id}}">
            <div id="pid-{{id}}" class="img-placeholder"></div>
        </a>                  
        
        {{location.formattedAddress}}
        <br>{{contact.phone}}
        <br>
        <div id="ph-{{id}}" class="btn-placeholder"></div>
        <br>
    </div> 
    
    {{/each}}
    {{/if}}
    {{#if message}}
    <div class="col- col-sm-6 col-md-4"><strong>{{message}}</strong></div>
    {{/if}}
</div>
</div>
<script src="/js/search.js"></script>

{{#if user}}
<script>
var userId = '{{user.id}}';
var btnPlaceholders = document.getElementsByClassName('btn-placeholder');

function getVisitorCount(url, btnPlaceholderId) {    
    $.get(url, function (response) {
        console.log(response);
        var venueId = btnPlaceholderId.slice(4)        
        var btnTag = '<button type="button" class="btn btn-primary" onclick="visitVenue(\'' + venueId + '\', \'' + userId + '\',this)">Going <span class="badge">0</span></button>';
        
        $(btnPlaceholderId).append(btnTag);
    }, 'json');
}
    
for (var btnPlaceholder of btnPlaceholders) {
    var btnId = btnPlaceholder.id.slice(3);
    var link = window.location.origin + '/venue/'+ btnId + '/visitors';
    var btnPlaceholderId = '#ph-' + btnId;
    //console.log(link);
    getVisitorCount(link, btnPlaceholderId);
}
    
function visitVenue(venueId, uid, button) {
    console.log("VenueId:", venueId, "UserID:", uid);    
}
</script>
{{/if}}

    
