<div class="row display-flex">
    {{#each result.venues}}
    <div class="col- col-sm-6 col-md-4">
        <strong>{{name}}</strong>
        <span>{{#each categories}}{{name}}{{/each}}</span>
        <a href="/venue/{{id}}">
            <div id="pid-{{id}}" class="img-placeholder"></div>
        </a>
        {{location.formattedAddress}}
        <br>{{contact.phone}}
        <br><br>
    </div>
    {{/each}}
</div>

<script>
    var imagePlaceholders = document.getElementsByClassName('img-placeholder');

    function fetchPicture(url, placeholderId) {
        $.post(url, function(response) {
            var imgTag = '<img src="' + response.url + '" class="img-responsive" />';
            $(placeholderId).append(imgTag);
        }, 'json');
    }

    for (var placeholder of imagePlaceholders) {
        var pictureId = placeholder.id.slice(4);
        var url = window.location.origin + '/venue/picture/' + pictureId;
        var placeholderId = '#pid-' + pictureId;
        fetchPicture(url, placeholderId);
    }

</script>
