<div class="container">
<div class="row display-flex">
    {{#if result.venues}} {{#each result.venues}}
    <div class="col- col-sm-6 col-md-4 card">
        <strong>{{name}}</strong>
        <span>{{#each categories}}{{name}}&nbsp;&nbsp;{{/each}}</span>
        <a href="/venue/{{id}}">
            <div id="pid-{{id}}" class="img-placeholder"></div>
        </a>
        {{location.formattedAddress}}
        <br>{{contact.phone}}
        <br>
        <div id="ph-{{id}}" class="btn-placeholder"></div>
        <br>
    </div> 
    
    {{/each}}
    {{/if}}
    {{#if message}}
    <div class="col- col-sm-6 col-md-4"><strong>{{message}}</strong></div>
    {{/if}}
</div>
</div>
<script src="/js/search.js"></script>
{{#if user}}
<script src="/js/visit.js"></script>
{{/if}}

    
