<div class="row display-flex">
    {{#if result.venues}} {{#each result.venues}}
    <div class="col- col-sm-6 col-md-4">
        <strong>{{name}}</strong>
        <span>{{#each categories}}{{name}}{{/each}}</span>
        <a href="/venue/{{id}}">
            <div id="pid-{{id}}" class="img-placeholder"></div>
        </a>
        {{location.formattedAddress}}
        <br>{{contact.phone}}
        <br><br>
    </div>
    {{/each}}
    {{/if}}
    {{#if message}}
    <div class="col- col-sm-6 col-md-4"><strong>{{message}}</strong></div>
    {{/if}}
</div>
<script src="/js/search.js"></script>
