<div class="col- pull-left">
    <form class="navbar-form" role="search" action="/" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="search">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>
</div>
{{>nav}}

<div class="row display-flex">
    {{#each result.venues}}
    <div class="col- col-sm-6 col-md-4">
        <strong>{{name}}</strong>
        <span>{{#each categories}}{{name}}{{/each}}</span>
        <div id="pid-{{id}}" class="img-placeholder"></div>
        {{location.formattedAddress}}
        <br>{{contact.phone}}
        <br><br>
    </div>
    {{/each}}
</div>

<script>
    var imagePlaceholders = document.getElementsByClassName('img-placeholder');

    function fetchPicture(url, placeholderId) {
        $.post(url, function(response) {
            var imgTag = '<img src="' + response.url + '" class="img-responsive" />';            
            $(placeholderId).append(imgTag);
        }, 'json');
    }

    for (var placeholder of imagePlaceholders) {
        var pictureId = placeholder.id.slice(4);
        var url = window.location.origin + '/picture/' + pictureId;
        var placeholderId = '#pid-' + pictureId;
        fetchPicture(url, placeholderId);
    }

</script>
